body {
	background-color: #2b2b2b
	/*margin: 5vmin;*/
}
h1 {
	font-family: 'VT323', monospace;
	color: #be0036;
	text-shadow: 4px 4px 4px #aaa;
	margin-top: 10%;
}
h2 {
	font-family: 'VT323', monospace;
	color: #be0036;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #2B0129;
}
a {
	text-decoration: none;
}
a:link {
	color: #44088F;
}
a:visited {
	color: #8C0086;
}
a:active {
	color: #BE0036;
}
/*div.attribution {
			text-align: right; 
			font-style: italic;
		}

div.attribution:before {content:"-";}*/
div.bannerbox1 /* landing page banner; takes up 1/3 of the screen height */ {
	background-color: #440041;
	/*padding: 4vmin;*/
	margin: 4vmin;
	height: 25vh;
	border-radius: 25px;
}
div.bannerbox1#ddlc {
	background-image: url("itch-banner.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}
div.contentbox1 /* full-width content box; takes up maximum of 1/3 screen height */ {
	background-color: #FFFFFF;
	/*height: 25vh;*/
	padding: 4vmin;
	margin: 4vmin;
	border-radius: 25px;
}
/* overlays for banners */
span.bannertext1 {
	background-color: #FFFFFF;
	float: left;
	opacity: 0.75;
	width: 50%;
	height: 100%;
	padding-left: 4%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;

}
span.bannertext2 {
	background-color: #FFFFFF;
	float: right;
	opacity: 0.5;
	width: 50%;
}
/* image templates */
img.content1 {
	float: left;
	opacity: 0.5;
	width: 25%;
}
img.content2 {
	float: right;
	opacity: 0.5;
	width: 25%;
}